.nav-header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 80%;
    max-width: 1000px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header-grid {
  width: 100%;
  background-color: $ml-yellow;
}

.isoLogo {
  grid-column: 1 / 2;
}

.nav-search-container {
  display: inline-flex;
  grid-column: 2 / 13;
}

.nav-search-input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  padding-left: 15px;
}

.nav-search-input:focus { 
  outline: none; 
}

.nav-search-input::placeholder {
  color: #999999;
  font-family: Helvetica;
}

.searchBtn {
  width: 45px;
  height: 42px;
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: $ml-lightGrey;
  background-image: url('../assets/ic_Search.png');
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
}
.searchBtn:focus { 
  outline: none; 
}


